# https://github.com/bazelbuild/bazel/issues/1356
# https://docs.bazel.build/versions/master/command-line-reference.html#flag--enable_runfiles
build --enable_runfiles

# https://github.com/kstyrc/embedded-redis/blob/master/src/main/java/redis/embedded/util/OSDetector.java
build --test_env=PROCESSOR_ARCHITECTURE

build --action_env=MODULE_ENVIRONMENT
build --action_env=MAILGUN_API_KEY
build --action_env=GEOLOCATION_SERVICE_ENDPOINT
