**/.git

client/**/node_modules
client/**/dist
client/**/npm-debug.log*
client/**/yarn-debug.log*
client/**/yarn-error.log*
client/**/test/unit/coverage
client/**/test/e2e/reports
client/**/selenium-*.log

proto_bridge/**/node_modules

server/**/.classpath
server/**/.factorypath
server/**/.project
server/**/.idea
server/**/.settings
server/**/target
