pwd.floreina.me/api {
    proxy / gateway:80
}

pwd.floreina.me {
    gzip

    header /index.html {
        Cache-Control "no-cache"
    }

    proxy / client:80

    rewrite {
        to {path} /index.html
    }
}
