apiVersion: batch/v1
kind: CronJob
metadata:
  name: archiver-cronjob
  labels:
    app.kubernetes.io/name: archiver
spec:
  # https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#cron-schedule-syntax
  schedule: "0 0 * * *"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: archiver
        spec:
          containers:
          - name: archiver
            image: dubov94/keyring-archiver:74435602b6d24b5e8feef53ebccfed6e9d8805c2
            env:
            - name: PG_DBNAME_PATH
              value: /etc/keyring/cnpg-app/uri
            - name: CLOUD_CREDS_PATH
              value: /etc/keyring/archiver-credentials/service-account-key
            - name: BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: archiver-links
                  key: bucket-name
            volumeMounts:
            - name: archiver-credentials-volume
              mountPath: /etc/keyring/archiver-credentials
              readOnly: true
            - name: cnpg-app-volume
              mountPath: /etc/keyring/cnpg-app
              readOnly: true
          volumes:
          - name: archiver-credentials-volume
            secret:
              secretName: archiver-credentials
          - name: cnpg-app-volume
            secret:
              secretName: cnpg-cluster-app
          restartPolicy: OnFailure
