apiVersion: apps/v1
kind: Deployment
metadata:
  name: grpc-gateway-deployment
  labels:
    app.kubernetes.io/name: grpc-gateway
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: grpc-gateway
  template:
    metadata:
      labels:
        app.kubernetes.io/name: grpc-gateway
    spec:
      containers:
      - name: grpc-gateway
        image: dubov94/keyring-grpc-gateway:2e947c12daa9c395ff48316511314802d34f6ea6
        ports:
        - containerPort: 5002
