apiVersion: apps/v1
kind: Deployment
metadata:
  name: ip-geolocation-deployment
  labels:
    app.kubernetes.io/name: ip-geolocation
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: ip-geolocation
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ip-geolocation
    spec:
      containers:
      - name: ip-geolocation
        image: dubov94/keyring-ip-geolocation:2968570500024fe6cb38ef5f27460621c8266034
        ports:
        - containerPort: 5003
        env:
        - name: GEOIPUPDATE_ACCOUNT_ID
          valueFrom:
            secretKeyRef:
              name: geoipupdate-credentials
              key: account-id
        - name: GEOIPUPDATE_LICENSE_KEY
          valueFrom:
            secretKeyRef:
              name: geoipupdate-credentials
              key: license-key
