apiVersion: batch/v1
kind: CronJob
metadata:
  name: janitor-cronjob
  labels:
    app.kubernetes.io/name: janitor
spec:
  schedule: "* * * * *"
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: janitor
        spec:
          containers:
          - name: janitor
            image: dubov94/keyring-janitor:2e947c12daa9c395ff48316511314802d34f6ea6
            resources:
              limits:
                memory: 256Mi
            env:
            - name: POSTGRES_JDBC_URI
              valueFrom:
                secretKeyRef:
                  name: cnpg-cluster-app
                  key: jdbc-uri
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: cnpg-cluster-app
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: cnpg-cluster-app
                  key: password
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: redis-password
          restartPolicy: OnFailure
