apiVersion: apps/v1
kind: Deployment
metadata:
  name: mailer-deployment
  labels:
    app.kubernetes.io/name: mailer
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: mailer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mailer
    spec:
      containers:
      - name: mailer
        image: dubov94/keyring-mailer:2e947c12daa9c395ff48316511314802d34f6ea6
        env:
        - name: MAILGUN_API_KEY
          valueFrom:
            secretKeyRef:
              name: email-service-credentials
              key: mailgun-api-key
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis
              key: redis-password
        - name: K8S_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
