apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  labels:
    app.kubernetes.io/name: server
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: server
    spec:
      containers:
      - name: server
        image: dubov94/keyring-server:acdd85808db18dce7b441a918ca7aeaa6ef31ee7
        resources:
          limits:
            memory: 320Mi
        ports:
        - containerPort: 5001
        env:
        - name: POSTGRES_JDBC_URI
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: jdbc-uri
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: password
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: redis
              key: redis-password
        - name: TURNSTILE_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: captcha-credentials
              key: turnstile-secret-key
      initContainers:
      - name: liquibase
        image: dubov94/keyring-liquibase:acdd85808db18dce7b441a918ca7aeaa6ef31ee7
        imagePullPolicy: Always
        env:
        - name: POSTGRES_JDBC_URI
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: jdbc-uri
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: password
