apiVersion: batch/v1
kind: Job
metadata:
  generateName: restorer-job-
  labels:
    app.kubernetes.io/name: restorer
spec:
  template:
    spec:
      containers:
      - name: restorer
        image: dubov94/keyring-restorer:74435602b6d24b5e8feef53ebccfed6e9d8805c2
        env:
        - name: CLOUD_CREDS_PATH
          value: /etc/keyring/archiver-credentials/service-account-key
        - name: BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: archiver-links
              key: bucket-name
        - name: OBJECT_NAME
          value: "$KEYRING_OBJECT_NAME"
        - name: PG_DBNAME_PATH
          value: /etc/keyring/cnpg-app/uri
        volumeMounts:
        - name: archiver-credentials-volume
          mountPath: /etc/keyring/archiver-credentials
          readOnly: true
        - name: cnpg-app-volume
          mountPath: /etc/keyring/cnpg-app
          readOnly: true
      volumes:
      - name: archiver-credentials-volume
        secret:
          secretName: archiver-credentials
      - name: cnpg-app-volume
        secret:
          secretName: cnpg-cluster-app
      restartPolicy: Never
  backoffLimit: 0
