name: Release

on:
  push:
    branches:
      - master

jobs:
  grpc_gateway:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk run //grpc_gateway
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/grpc_gateway:grpc_gateway docker.io/dubov94/keyring-grpc-gateway:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-grpc-gateway:${{ github.sha }}
      - run: docker tag bazel/grpc_gateway:grpc_gateway docker.io/dubov94/keyring-grpc-gateway:latest
      - run: docker push docker.io/dubov94/keyring-grpc-gateway:latest
  ip_geolocation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk run //ip_geolocation
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/ip_geolocation:ip_geolocation docker.io/dubov94/keyring-ip-geolocation:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-ip-geolocation:${{ github.sha }}
      - run: docker tag bazel/ip_geolocation:ip_geolocation docker.io/dubov94/keyring-ip-geolocation:latest
      - run: docker push docker.io/dubov94/keyring-ip-geolocation:latest
  pwa:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk test $(bazelisk query 'tests(//pwa/...)')
      - run: bazelisk run //pwa
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/pwa:pwa docker.io/dubov94/keyring-pwa:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-pwa:${{ github.sha }}
      - run: docker tag bazel/pwa:pwa docker.io/dubov94/keyring-pwa:latest
      - run: docker push docker.io/dubov94/keyring-pwa:latest
  server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk test $(bazelisk query 'tests(//server/main/...)')
      - run: bazelisk run //server
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server:server docker.io/dubov94/keyring-server:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-server:${{ github.sha }}
      - run: docker tag bazel/server:server docker.io/dubov94/keyring-server:latest
      - run: docker push docker.io/dubov94/keyring-server:latest
  mailer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk test $(bazelisk query 'tests(//server/mailer/...)')
      - run: bazelisk run //server:mailer
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server:mailer docker.io/dubov94/keyring-mailer:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-mailer:${{ github.sha }}
      - run: docker tag bazel/server:mailer docker.io/dubov94/keyring-mailer:latest
      - run: docker push docker.io/dubov94/keyring-mailer:latest
  janitor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 11
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk test $(bazelisk query 'tests(//server/janitor/...)')
      - run: bazelisk run //server:janitor
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server:janitor docker.io/dubov94/keyring-janitor:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-janitor:${{ github.sha }}
      - run: docker tag bazel/server:janitor docker.io/dubov94/keyring-janitor:latest
      - run: docker push docker.io/dubov94/keyring-janitor:latest
  liquibase:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk run //server:liquibase
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server:liquibase docker.io/dubov94/keyring-liquibase:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-liquibase:${{ github.sha }}
      - run: docker tag bazel/server:liquibase docker.io/dubov94/keyring-liquibase:latest
      - run: docker push docker.io/dubov94/keyring-liquibase:latest
  archiver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk run //server/archiver
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server/archiver:archiver docker.io/dubov94/keyring-archiver:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-archiver:${{ github.sha }}
      - run: docker tag bazel/server/archiver:archiver docker.io/dubov94/keyring-archiver:latest
      - run: docker push docker.io/dubov94/keyring-archiver:latest
  restorer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bazel-contrib/setup-bazel@0.14.0
      - run: bazelisk run //server/restorer
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: docker tag bazel/server/restorer:restorer docker.io/dubov94/keyring-restorer:${{ github.sha }}
      - run: docker push docker.io/dubov94/keyring-restorer:${{ github.sha }}
      - run: docker tag bazel/server/restorer:restorer docker.io/dubov94/keyring-restorer:latest
      - run: docker push docker.io/dubov94/keyring-restorer:latest
